/*-------------------------------------------Start Section---------------------------------------------*/
/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  color: #692B38;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.25em;
  font-weight: 700;
  text-align: left;
  color: #692B38;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-top: -5px;
}

#about-page h3 {
  margin-top: 0;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/*setting images to full-width*/
img {
  width: 100%;
}

/*change the default link color to your primary color (copied from your comments at the top of the document)*/
a {
  color: #000000;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #692B38;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

/*style the current nav item green*/
/*
.active a {
    color: #000000;
    text-decoration: underline;
}
*/
a:active {
  /* selected link */
  color: green;
}

/*Pseudo classes for Accessibility for Across the Web*/
/*
a:hover,
a:focus {
  color: green;
  text-decoration: none;
}
*/
/*CSS code for the button class*/
.button {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #994c30;
  transition: 0.8s opacity;
}

.button:hover {
  opacity: 0.8;
  color: #bcbcbc;
  text-decoration: none;
}

/*
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80%
  text-decoration: none;
}
*/
/*button rules for the mailto button*/
.button.contact {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

/*button class hover and active state*/
.button.contact:hover {
  color: #bcbcbc;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/
/*style the <header> element*/
header {
  background-color: #F2F3F4;
  text-align: center;
  padding: 10px 0;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*style the logo*/
header .logo {
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Navigation Styling*/
nav {
  display: inline-block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}


#hero {
  background-color: #F2F3F4;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  /*text-align: center;*/
}

#hero span {
  display: block;
}

#contact {
  background-color: #f2f2f2;
  padding: 20px;
}

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.social img {
  height: 64px;
  width: 64px;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  /*border-bottom: 1px solid #4a4a4a;*/
}

#work .row {
  padding-bottom: 20px;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*SVG anamation*/
.svg-animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*single line...
.sun {
  animation: 4s color-change infinite alternate linear;
}
*/
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*single line...
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
*/
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*Media Queries*/
/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }

.navtoggle li:not(:last-child) {display: none;}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
    padding-bottom: 40px;
  }

  .col-lg-8 {
    width: 40%;
    float: right;
  }

  #about-page .col-md-6 {
    width: 100%;
  }
}


/* ==============================
Extra-large devices (1920px or larger)
================================= */
